
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style: none;
}
body {
	background-color: rgba(35,43,85,0.15) !important;
}
a{
	text-decoration: none !important;
}
.sar{
	font-size: 20px;
	color: #4444ee !important;
	
}
/* .adminstyle{
	display: flex !important;
	align-items: center;
	justify-content: center;
	background-color: aqua !important;
} */
.addincome_btn {
	border: none;
	outline: none;
	height: 40px;
	background: #6b6bf0;
	color: #fff;
	font-size: 18px;
	border-radius: 20px;
}
.addincome_btn:hover {
	cursor: pointer;
	background: #ffc107;
	color: #000;
}
.topdashboard{
	display: flex;
	align-items: center;
}
.topdashboard img{
	border: 2px solid #ffc107; 
	border-radius: 50%;
}
.topdashboard h4{
	margin-left: 20px;
	color:#ffc107 ;
}
.topnav {
	background-color:rgb(15, 70, 107);
	overflow: hidden;
}
.balance span{
	color: #1183b8;
}
.far.fa-user-circle {
	font-size: 29px;
	color: #726f6f;
	padding-top: 10px;
}
.input-10 {
	width: 40px;
	color: #4c4c96;
	font-weight: 600;
}
.fas.fa-search {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: lightsalmon;
	height: 100%;
}
.topnav a {
	float: left;
	display: block;
	color: #8d8b8b;
	font-weight: 800;
	font-size: 14px;
	text-transform: uppercase;
	padding: 14px 16px;
	text-decoration: none;
	border-bottom: 3px solid transparent;
}
.topnav a:hover {
	color: black;
	border-bottom: 3px solid red;
}
.topnav .active {
	background-color: #1183b8;
	color: #fff;
	font-weight: 500;
	border-bottom: 3px solid red;
}
form.example input[type="text"] {
	padding: 10px;
	font-size: 17px;
	border: 1px solid grey;
	float: left;
	width: 90%;
	height: 36px;
	background: #fff;
}
form.example input[type="text"]:focus {
	outline: none;
}
form.example button {
	float: left;
	width: 10%;
	height: 36px;
	padding: 5px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	background: #4c4c96;
	color: white;
	font-size: 14px;
	border: 1px solid grey;
	border-left: none;
	cursor: pointer;
}
.navbar-toggler:focus {
	box-shadow: none;
	outline: none;
	border: none;
	background-color: darkred !important;
}
::placeholder {
	font-size: 10px;
}
form.example button:hover {
	background: #0b7dda;
}
form.example::after {
	content: "";
	clear: both;
	display: table;
}
.container .table-responsive {
	margin: 20px auto;
	overflow-x: auto;
}
.container .table-responsive::-webkit-scrollbar {
	height: 5px;
}
.container .table-responsive::-webkit-scrollbar-thumb {
	border-radius: 5px;
	background-image: linear-gradient(to right, #5d7ecd, #0c91e6);
}
.table thead tr th {
	font-size: 11px;
	color: #868585;
	padding: 10px 10px;
}
.table tbody tr td {
	font-size: 13.5px;
	padding: 10px 10px;
}
#navbar {
	width: 20%;
	background-color: #21214e !important;
	height: 50px;
	border: none;
}
.bg-blight {
	color: #7f7fee;
	font-weight: 600;
}
.bg-bdark {
	color: #4c4c96;
	font-weight: 600;
}
#navbar a {
	color: white;
}
.fas.fa-bars {
	color: white;
}
#navbar2 {
	width: 80%;
}
#navbar-items {
	width: 20%;
	height: 90vh;
	background-color: #21214e;
	padding-top: 55px !important;
}
ul#navbar-items li {
	color: rgb(228, 228, 228);
	padding: 15px 25px;
	font-weight: 600;
	text-transform: uppercase;
	font-size: 13px;
	display: flex;
	align-items: center;
	cursor: pointer;

}
ul#navbar-items li a{
	color: rgb(228, 228, 228);
}
ul#navbar-items .active{
	background-color: #eeb406;
	font-weight: bold !important;

}
ul#navbar-items li:hover {
	background-color: #ffc107;
	color: white;
}
.dropdown-menu ,.dropdown-menu li
 {
	background-color: #21214e !important;
}
.dropdown-menu a:hover{
	background-color: #eeb406;
	font-weight: bold !important;
}


#topnavbar {
	width: 80%;
	height: 90vh;
}
.fs13 {
	font-size: 13px;
}
.fs14 {
	font-size: 18px;
	color: white;
}
.fas.fa-times {
	color: red;
}
.fas.fa-check {
	color: greenyellow;
}
.example {
	width: 50%;
}
@media (max-width: 780px) {
	#navbar {
		width: 20%;
	}
	#topnavbar {
		width: 80%;
	}
	.text-decoration-none.fs14 {
		font-size: 10px;
	}
	.text-decoration-none .fs13 {
		font-size: 9px;
	}
}
@media (max-width: 430px) {
	#navbar-items,
	#topnavbar {
		width: 100%;
		height: 100%;
	}
	#navbar-items {
		padding: 20px;
		margin-bottom: 30px;
	}
	.topnav a {
		font-size: 12px;
		padding: 12px;
	}
	#navbar {
		width: 100%;
		background-color: blue;
	}
	.example {
		width: 100%;
	}
	.text-decoration-none.fs14 {
		font-size: 14px;
	}
	.text-decoration-none .fs13 {
		font-size: 13px;
	}
}
@media (max-width: 376px) {
	#navbar-items {
		padding: 20px;
		margin-bottom: 30px;
	}
	.topnav a {
		font-size: 12px;
		padding: 7px;
	}
}
@media (max-width: 320px) {
	.topnav a {
		font-size: 10px;
		padding: 4px;
	}
}

/* ------------------- dashbord  ------------------------------- */

.card {
    background-color: white !important;
    border: none !important;
    border-radius: 0px !important;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px !important
}

.card:hover {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px !important
}

.card>a {
    text-decoration: none !important;
    color: black !important
}

#blockitems {
    margin-right: 0px !important;
    margin-left: 0px !important
}

#icons_section {
    width: 30%;
    text-align: center;
    padding: 0% !important
}

#icons_section>i {
    font-size: 25px;
    color: black !important
}

#heading_section {
    width: 70%
}

#heading_section>h6 {
    margin-bottom: 0px !important;
    color: #990ae3 !important
}

#heading_section>p {
    font-size: 14px !important
}

.cssanimation {
    animation-duration: 1s;
    animation-fill-mode: both
}

.fadeInBottom {
    animation-name: fadeInBottom
}

@keyframes fadeInBottom {
    from {
        opacity: 0;
        transform: translateY(100%)
    }

    to {
        opacity: 1
    }
}

.cssanimation2 {
    animation-duration: 2s;
    animation-fill-mode: both
}

.fadeInBottom2 {
    animation-name: fadeInBottom
}

@keyframes fadeInBottom2 {
    from {
        opacity: 0;
        transform: translateY(100%)
    }

    to {
        opacity: 1
    }
}

.cssanimation3 {
    animation-duration: 3s;
    animation-fill-mode: both
}

.fadeInBottom3 {
    animation-name: fadeInBottom
}

@keyframes fadeInBottom3 {
    from {
        opacity: 0;
        transform: translateY(100%)
    }

    to {
        opacity: 1
    }
}
/*_________________________________________  */
 #icons_section .fa-signal,
 #icons_section .fa-money-bill-transfer,
 #icons_section .fa-sack-dollar,
 #icons_section .fa-people-group,
 #icons_section .fa-user

 {
	font-size: 40px !important;
	color: #a07b0d !important;
	line-height: 50px;
}
.card-body{
	box-shadow: 0 5px 2px #ffc107;
}
.card-body h6{
	font-size: 25px;
}
.card-body p{
	font-size: 22px;
	margin-top: 10px;
	
}
